@model WebShops.Models.LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Войти";
}

<div class="inner">
    <h3 class="margin">Вход в систему</h3>
    @using (Html.BeginForm("Enter", "Home", FormMethod.Post))
    {
        <div class="outter">
            @Html.LabelFor(model => model.Login)
            <br />
            <b class="form-control">@Html.EditorFor(model => model.Login)</b>
            <br />
            <b class="Size">@Html.ValidationMessageFor(model => model.Login)</b>
            <br />
            @Html.LabelFor(model => model.Password)
            <br />
            <b class="form-control">@Html.EditorFor(model => model.Password)</b>
            <br />
            <b class="Size">@Html.ValidationMessageFor(model => model.Password)</b>
            <br/>
            <p><input type="submit" , value="Войти" /></p>
            @Html.ActionLink("Регистрация", "Registration", "Home")
        </div>
    }
</div>