@model WebShops.Models.LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Войти";
}
<h3>Вход в систему</h3>
@using (Html.BeginForm("Enter", "Home"))
{
    @Html.LabelFor(model => model.Login)
    <br />
    @Html.EditorFor(model => model.Login)
    @Html.ValidationMessageFor(model => model.Login, "")
    <br />
    @Html.LabelFor(model => model.Password)
    <br />
    @Html.EditorFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Password, "")
    <br />
    <br />
    <p><input type="submit" , value="Войти" /></p>
    @Html.ActionLink("Регистрация", "Registration", "Home")
}