@model WebShops.Models.RegisterModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Регистрация";
}
<div class="RegSixe">@Html.ValidationSummary(true, "")</div>
<div class="inner1">
    <h3 class="margin">Регитсрация в системе</h3>

    @using (Html.BeginForm("Registration", "Home", FormMethod.Post))
    {
        <div class="outter">
            @Html.LabelFor(model => model.Name)
            <br />
            <b class="form-control">@Html.EditorFor(model => model.Name)</b>
            <br />
            <b class="Size">@Html.ValidationMessageFor(model => model.Name)</b>
            <br />
            @Html.LabelFor(model => model.Firstname)
            <br />
            <b class="form-control">@Html.EditorFor(model => model.Firstname)</b>
            <br />
            <b class="Size">@Html.ValidationMessageFor(model => model.Firstname)</b>
            <br />
            @Html.LabelFor(model => model.Age)
            <br />
            <b class="form-control">@Html.EditorFor(model => model.Age)</b>
            <br />
            <b class="Size">@Html.ValidationMessageFor(model => model.Age)</b>
            <br />
            @Html.LabelFor(model => model.RegistrLogin)
            <br />
            <b class="form-control">@Html.EditorFor(model => model.RegistrLogin)</b>
            <br />
            <b class="Size">@Html.ValidationMessageFor(model => model.RegistrLogin)</b>
            <br />
            @Html.LabelFor(model => model.RegistrPassword)
            <br />
            <b class="form-control">@Html.EditorFor(model => model.RegistrPassword)</b>
            <br />
            <b class="Size">@Html.ValidationMessageFor(model => model.RegistrPassword)</b>
            <br />
            <p><input type="submit" , value="Зарегистрироваться" /></p>
        </div>
    }
</div>