@model WebShops.Models.Fishing
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Покупка объекта";
}
<h2>Вещь № @Model.FishingId</h2>
@using (Html.BeginForm("Buy", "Fishings", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.FishingId)
        <p>
            @Html.LabelFor(m => m.Name)
            <br />
            @Html.HiddenFor(m => m.Name)
            @Html.DisplayFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Price)
            <br />
            @Html.HiddenFor(m => m.Price)
            @Html.DisplayFor(m => m.Price)
        </p>
        <p>
            @Html.LabelFor(m => m.Foto)
            <br />
            @Html.HiddenFor(m => m.Foto)
            <img src="@Html.DisplayFor(m => m.Foto)" width="200" height="200" />
        </p>
        <br />
        <p><input type="submit" value="В корзину" /></p>
        @Html.ActionLink("Список", "Index")
    </fieldset>
}