@model WebShops.Models.Fishing
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Добавление объекта";
}
<div class="CreatFish">
    @using (Html.BeginForm("Create", "Fishings", FormMethod.Post))
    {
        <fieldset>
            <h2 class="margin">Новая вещь рыбалки</h2>
            @Html.LabelFor(model => model.Name)
            <br />
            <b class="form-control">@Html.EditorFor(model => model.Name)</b>
            <br />
            <b class="Size">@Html.ValidationMessageFor(model => model.Name)</b>
            <br />
            @Html.LabelFor(model => model.Price)
            <br />
            <b class="form-control">@Html.EditorFor(model => model.Price)</b>
            <br />
            <b class="Size">@Html.ValidationMessageFor(model => model.Price)</b>
            <br />
            @Html.LabelFor(model => model.Foto)
            <b>(Ссылка)</b>
            <br />
            <b class="form-control">@Html.EditorFor(model => model.Foto)</b>
            <br />
            <b class="Size">@Html.ValidationMessageFor(model => model.Foto)</b>
            <br />
            <input type="submit" value="Добавить" />
            <br />
            @Html.ActionLink("Список", "Index")
        </fieldset>
    }
</div>