@model WebShops.Models.Fishing
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Удаление объекта";
}
<div class="DeleteFont">
    @using (Html.BeginForm("Delete", "Fishings", FormMethod.Post))
    {
        <fieldset>
            <h2>Вещь № @Model.FishingId</h2>
            @Html.HiddenFor(m => m.FishingId)
            <p>
                <b class="backd">@Html.LabelFor(m => m.Name)</b>
                <br />
                @Html.DisplayFor(m => m.Name)
            </p>
            <p>
                <b class="backd">@Html.LabelFor(m => m.Price)</b>
                <br />
                @Html.DisplayFor(m => m.Price)
            </p>
            <p>
                <b class="backd">@Html.LabelFor(m => m.Foto)</b>
                <br />
                <img src="@Html.DisplayFor(m => m.Foto)" width="200" height="200" />
            </p>
            <p><input type="submit" value="Удалить" /></p>
            @Html.ActionLink("Список", "Index")
        </fieldset>
    }
</div>