@model WebShops.Models.Fishing
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Изменение объекта";
}
<div class="EditFont">
    @using (Html.BeginForm("Edit", "Fishings", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.FishingId)
    <fieldset>
        <h2>Вещь № @Model.FishingId</h2>
        @Html.LabelFor(m => m.Name)
        <br />
        <b class="form-control">@Html.EditorFor(m => m.Name)</b>
        <br />
        <b class="Size">@Html.ValidationMessageFor(model => model.Name)</b>
        <br />
        @Html.LabelFor(m => m.Price)
        <br />
        <b class="form-control">@Html.EditorFor(m => m.Price)</b>
        <br />
        <b class="Size">@Html.ValidationMessageFor(model => model.Price)</b>
        <br />
        @Html.LabelFor(m => m.Foto)
        <br />
        <img src="@Html.DisplayFor(m => m.Foto)" width="200" height="200" />
        <br />
        <b>(Ссылка): </b>
        <b class="form-control">@Html.EditorFor(m => m.Foto)</b>
        <br />
        <b class="Size">@Html.ValidationMessageFor(model => model.Foto)</b>
        <p><input type="submit" value="Изменить" /></p>
        @Html.ActionLink("Список", "Index")
    </fieldset>
    }
</div>