@model WebShops.Models.Nike
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Детали объекта";
}
<div class="BuyFont">
    @using (Html.BeginForm("Details", "Nikes"))
    {
        <fieldset>
            <h2>Вещь № @Model.NikeId</h2>
            @Html.HiddenFor(m => m.NikeId)
            <p>
                <b class="backd">@Html.LabelFor(m => m.Name)</b>
                <br />
                @Html.DisplayFor(m => m.Name)
            </p>
            <p>
                <b class="backd">@Html.LabelFor(m => m.Price)</b>
                <br />
                @Html.DisplayFor(m => m.Price)
            </p>
            <p>
                <b class="backd">@Html.LabelFor(m => m.Foto)</b>
                <br />
                <img src="@Html.DisplayFor(m => m.Foto)" width="200" height="200" />
            </p>
            @Html.ActionLink("Список", "Index")
        </fieldset>
    }
</div>