<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body class="BGImg">
    
    <div class="nav navbar-inverse navbar-fixed-top ">
    <div class="container">
    <nav class="nav navbar-nav">
        <ul class="menu">
            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
            <li>@Html.ActionLink("Рыбалка", "Index", "Fishings")</li>
            <li>@Html.ActionLink("Охота", "Index", "Huntings")</li>
            <li>@Html.ActionLink("Nike", "Index", "Nikes")</li>
            <li>@Html.ActionLink("Adidas", "Index", "Adidas")</li>
            <li>@Html.ActionLink("Пятёрочка", "Index", "Pyaterochkas")</li>
            <li>@Html.ActionLink("Корзина", "Index", "Basket")</li>
            <li>@Html.ActionLink("Войти", "Enter", "Home")</li>
            <li>@Html.ActionLink("Регистрация", "Registration", "Home")</li>
        </ul>
    </nav>
</div>
    </div>
    
    @RenderBody()
</body>
</html>
<style>
    div {
        margin: -4px;
        color: beige;
    }
</style>