@model WebShops.Models.Hunting
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Покупка объекта";
}
<div class="HuntBuy">
    @using (Html.BeginForm("Buy", "Huntings", FormMethod.Post))
    {
        <fieldset>
            <h2>Вещь № @Model.HuntingId</h2>
            @Html.HiddenFor(m => m.HuntingId)

            <b class="backd">@Html.LabelFor(m => m.Name)</b>
            <br />
            @Html.HiddenFor(m => m.Name)
            @Html.DisplayFor(m => m.Name)
            <br />
            <b class="backd">@Html.LabelFor(m => m.Price)</b>
            <br />
            @Html.HiddenFor(m => m.Price)
            @Html.DisplayFor(m => m.Price)
            <br />
            <b class="backd">@Html.LabelFor(m => m.Foto)</b>
            <br />
            @Html.HiddenFor(m => m.Foto)
            <img src="@Html.DisplayFor(m => m.Foto)" width="200" height="200" />

            <p><input type="submit" value="В корзину" /></p>
            @Html.ActionLink("Список", "Index")
        </fieldset>
    }
</div>