@model WebShops.Models.Hunting
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Удаление объекта";
}
<h2>Вещь № @Model.HuntingId</h2>
@using (Html.BeginForm("Delete", "Huntings", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.HuntingId)
        <p>
            @Html.LabelFor(m => m.Name)
            <br />
            @Html.DisplayFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Price)
            <br />
            @Html.DisplayFor(m => m.Price)
        </p>
        <p>
            @Html.LabelFor(m => m.Foto)
            <br />
            <img src="@Html.DisplayFor(m => m.Foto)" width="200" height="200" />
        </p>
        <br />
        <p><input type="submit" value="Удалить" /></p>
        @Html.ActionLink("Список", "Index")
    </fieldset>
}
